.custom-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85px;
  left: 10px;
  z-index: 999;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  cursor: pointer;
}

.custom-menu {
  width: 300px;
  padding: 10px;
}